<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Equipment</title>
    <link rel="stylesheet" th:href="@{/css/form-style.css}">
</head>
<body>
<div class="form-container">
    <h1 th:if="${formMode == 'edit'}">Edit equipment info</h1>
    <h1 th:if="${formMode =='add'}">Add new equipment info</h1>
    <form action="/equipment/form" th:object="${equipment}" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <!--<input type="text" id="id" name="id" value="${student.id}">-->
            <!--th:field tương đương với name + value. Khi này thymeleaf sẽ
            tự động đặt name-->
            <input type="text" id="id" th:field="*{equipmentId}"
                   th:readonly="${formMode=='edit'}"
                   th:style="${formMode=='edit'?'color : lightgrey' : 'color : black'}">
            <span th:errors="*{equipmentId}" style="color: red"></span>
            <span th:if="${duplicateId != null}" th:text="${duplicateId}" style="color: red">*</span>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{equipmentName}">
            <span th:errors="*{equipmentName}" style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="yob">Purchase Price</label>
            <input type="text" id="yob" th:field="*{purchasePrice}">
            <span th:errors="*{purchasePrice}" style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="gpa">Quantity Available</label>
            <input type="text" id="gpa" th:field="*{quantityAvailable}">
            <span th:errors="*{quantityAvailable}" style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="major">Type</label>

            <!--Xem lại nhân sinh!!!!!-->
            <select id="major" th:field="*{equipmentType.equipmentTypeId}">
                <option th:each="m : ${typeList}"
                        th:value="${m.equipmentTypeId}"
                        th:text="${m.typeName}"
                >Kỹ thuật phần mềm</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Save</button>
        </div>
        <!--Lưu lại trạng thái edit hay add để khi bắt validate gọi lại form thì
        có formMode nếu ko sẽ bị lỗi NPE-->
        <input type="hidden" name="formMode" th:value="${formMode}" >
    </form>
</div>

</body>
</html>